<?xml version="1.0" ?>
<config>
	<recommendTemplate id="51520">
		<item index="1" url="images/recommend/1.png"/>
		<item index="2" url="images/recommend/2.png"/>
		<item index="3" url="images/recommend/3.png"/>
		<item index="4" url="images/recommend/4.png"/>
	</recommendTemplate>
	
	<templates>
		<template id="51520" type="vertical">
			<previewImg url="images/51520/preview.png"/>
			<list>
				<item index="1" url="images/51520/1.png"/>
				<item index="2" url="images/51520/2.png"/>
				<item index="3" url="images/51520/3.png"/>
			</list>
		</template>
		
		<template id="50528" type="horizontal">
			<previewImg url="images/50528/preview.png"/>
			<list>
				<item index="1" url="images/50528/1.png"/>
				<item index="2" url="images/50528/2.png"/>
				<item index="3" url="images/50528/3.png"/>
			</list>
		</template>
		
	</templates>
</config>